@import "~normalize.css";
@import "roboto.css";

body {
  font-family: "Roboto", sans-serif;
}

hr {
  border: 0;
  height: 1px;
  background: cornflowerblue;
  background-image: linear-gradient(to right, #ccc, cornflowerblue, #ccc);
}

* {
  margin: 0 auto;
  padding: 10px 0 10px 0;
}

h2 {
  text-align: center;
  font-size: 45px;
  color: cornflowerblue;
}

.logo {
  background-image: url("../assets/webpack-logo.png");
  background-size: cover;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
